01_mtconnect_parser/POC-dashboard.json
[
    {
        "id": "tab_1",
        "type": "tab",
        "label": "Factory Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "inject_okuma",
        "type": "inject",
        "z": "tab_1",
        "name": "Trigger OKUMA Feedrate",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "8d65f8ffae2a3c38",
                "5877f4e06a6ed49b"
            ]
        ]
    },
    {
        "id": "func_okuma",
        "type": "function",
        "z": "tab_1",
        "name": "OKUMA X Path Position",
        "func": "let raw = msg.payload?.OKUMA?.PathPosition?.value || \"0 0 0\";\nlet x = Number(raw.split(\" \")[0]) || 0;\nmsg.payload = x;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "inject_mazak",
        "type": "inject",
        "z": "tab_1",
        "name": "Trigger Mazak Spindle RPM",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 340,
        "y": 480,
        "wires": [
            [
                "func_mazak",
                "0ceff7a68318da7a",
                "0f16ea49cd5585be",
                "011220e9d31c32ce",
                "04002b371e358a16"
            ]
        ]
    },
    {
        "id": "func_mazak",
        "type": "function",
        "z": "tab_1",
        "name": "Mazak Axis State",
        "func": "msg.payload = msg.payload?.Mazak?.AxisState?.value || \"OFFLINE\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 480,
        "wires": [
            [
                "dc2072eb0f082b2f"
            ]
        ]
    },
    {
        "id": "inject_agent",
        "type": "inject",
        "z": "tab_1",
        "name": "Trigger Agent Update Rate",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 760,
        "wires": [
            [
                "func_agent"
            ]
        ]
    },
    {
        "id": "func_agent",
        "type": "function",
        "z": "tab_1",
        "name": "Data Update Rate Extract",
        "func": "msg.payload = Number(msg.payload?.Agent?.ObservationUpdateRate?.value || 0);\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 760,
        "wires": [
            [
                "gauge_agent"
            ]
        ]
    },
    {
        "id": "gauge_agent",
        "type": "ui_gauge",
        "z": "tab_1",
        "name": "",
        "group": "group_agent",
        "order": 1,
        "width": "2",
        "height": "2",
        "gtype": "donut",
        "title": "Data Update Rate",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#fbe704",
            "#1edeeb",
            "#03e229"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 760,
        "wires": []
    },
    {
        "id": "11173ffb153b05d1",
        "type": "link in",
        "z": "tab_1",
        "name": "From MTConnect Parser",
        "links": [
            "91124b2617dc70be"
        ],
        "x": 35,
        "y": 340,
        "wires": [
            [
                "func_mazak",
                "func_agent",
                "8d65f8ffae2a3c38",
                "5877f4e06a6ed49b",
                "0ceff7a68318da7a",
                "0f16ea49cd5585be",
                "011220e9d31c32ce",
                "d157944e9981ff61",
                "04002b371e358a16"
            ]
        ]
    },
    {
        "id": "401d050fe53dd3f5",
        "type": "function",
        "z": "tab_1",
        "name": "OKUMA Y Path Position",
        "func": "let raw = msg.payload?.OKUMA?.PathPosition?.value || \"0 0 0\";\nlet y = Number(raw.split(\" \")[1]) || 0;\nmsg.payload = y;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "13370e47dc7ffeef",
        "type": "function",
        "z": "tab_1",
        "name": "OKUMA Z Path Position",
        "func": "let raw = msg.payload?.OKUMA?.PathPosition?.value || \"0 0 0\";\nlet z = Number(raw.split(\" \")[2]) || 0;\nmsg.payload = z;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8d65f8ffae2a3c38",
        "type": "function",
        "z": "tab_1",
        "name": "OKUMA Up Time",
        "func": "msg.payload = msg.payload?.OKUMA?.AccumulatedTime?.value || \"0\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 220,
        "wires": [
            [
                "00ea68667d3462d6"
            ]
        ]
    },
    {
        "id": "00ea68667d3462d6",
        "type": "ui_text",
        "z": "tab_1",
        "group": "group_okuma",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Continuous Run Time",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "dc2072eb0f082b2f",
        "type": "ui_text",
        "z": "tab_1",
        "group": "group_mazak",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Axis State:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 480,
        "wires": []
    },
    {
        "id": "5877f4e06a6ed49b",
        "type": "function",
        "z": "tab_1",
        "name": "OKUMA Z1 Load",
        "func": "msg.payload = msg.payload?.OKUMA?.Load?.value || \"0\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 260,
        "wires": [
            [
                "b361b8a4f589395f"
            ]
        ]
    },
    {
        "id": "b361b8a4f589395f",
        "type": "ui_gauge",
        "z": "tab_1",
        "name": "",
        "group": "group_okuma",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Z1 Load",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#949494",
            "#1491f0",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "0ceff7a68318da7a",
        "type": "function",
        "z": "tab_1",
        "name": "Mazak Equippment Mode",
        "func": "msg.payload = msg.payload?.Mazak?.EquipmentMode?.value || \"OFFLINE\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 440,
        "wires": [
            [
                "6e6bd48014ffac9b"
            ]
        ]
    },
    {
        "id": "6e6bd48014ffac9b",
        "type": "ui_text",
        "z": "tab_1",
        "group": "group_mazak",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Equipment Mode:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 440,
        "wires": []
    },
    {
        "id": "0f16ea49cd5585be",
        "type": "function",
        "z": "tab_1",
        "name": "Mazak Path Feedrate",
        "func": "payload.msg = Number(msg.payload?.Mazak?.PathFeedrate?.value) || 0;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 520,
        "wires": [
            [
                "6d41359124aa88b1"
            ]
        ]
    },
    {
        "id": "6d41359124aa88b1",
        "type": "ui_chart",
        "z": "tab_1",
        "name": "",
        "group": "group_mazak",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Mazak Path Feedrates",
        "chartType": "line",
        "legend": "false",
        "xformat": "Time",
        "interpolate": "linear",
        "nodata": "UNAVAILABLE",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "011220e9d31c32ce",
        "type": "function",
        "z": "tab_1",
        "name": "Mazak Axis Feedrate",
        "func": "payload.msg = Number(msg.payload?.Mazak?.AxisFeedrate?.value) || 0;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 560,
        "wires": [
            [
                "cae86897198bca60"
            ]
        ]
    },
    {
        "id": "cae86897198bca60",
        "type": "ui_chart",
        "z": "tab_1",
        "name": "",
        "group": "group_mazak",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Mazak Axis Feedrates",
        "chartType": "line",
        "legend": "false",
        "xformat": "Time",
        "interpolate": "linear",
        "nodata": "UNAVAILABLE",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "d157944e9981ff61",
        "type": "function",
        "z": "tab_1",
        "name": "OKUMA Path Position",
        "func": "let raw = msg.payload?.OKUMA?.PathPosition?.value || \"0 0 0\";\nlet z = Number(raw.split(\" \")[2]) || 0;\nmsg.payload = z;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "0bba514854297625"
            ]
        ]
    },
    {
        "id": "0bba514854297625",
        "type": "ui_chart",
        "z": "tab_1",
        "name": "",
        "group": "group_okuma",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Path Position",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "04002b371e358a16",
        "type": "function",
        "z": "tab_1",
        "name": "Mazak Line Number",
        "func": "payload.msg = Number(msg.payload?.Mazak?.LineNumber?.value) || 0;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 620,
        "wires": [
            [
                "a79a4c74e0d149a8"
            ]
        ]
    },
    {
        "id": "a79a4c74e0d149a8",
        "type": "ui_text",
        "z": "tab_1",
        "group": "group_mazak",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Line Number: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 620,
        "wires": []
    },
    {
        "id": "ea2ec866fce7d6a4",
        "type": "ui_spacer",
        "z": "tab_1",
        "name": "spacer",
        "group": "group_agent",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "7294d3985e463ca0",
        "type": "ui_spacer",
        "z": "tab_1",
        "name": "spacer",
        "group": "group_agent",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "group_agent",
        "type": "ui_group",
        "z": "tab_1",
        "name": "Agent Status",
        "tab": "ui_tab_1",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_okuma",
        "type": "ui_group",
        "z": "tab_1",
        "name": "OKUMA",
        "tab": "ui_tab_1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "group_mazak",
        "type": "ui_group",
        "z": "tab_1",
        "name": "Mazak",
        "tab": "ui_tab_1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_tab_1",
        "type": "ui_tab",
        "name": "Factory Dashboard",
        "icon": "dashboard",
        "order": 1
    }
]
